.items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    flex-direction: column;
}
.main{
    margin: 1rem ;
    margin-bottom: 4rem;
}
form{
    font-size: 2.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    text-align: center;
    width: 100%;
}
.items div{
    margin: 1rem;
}
.main-div{
 display: flex;
 border: 1px solid red;
 flex-direction: column;
}
